<div class="container">
    <nz-card>
        <h1>QuickStart-angular</h1>
        <form nz-form [formGroup]="formLogin" class="login-form" (ngSubmit)="login()">
            <nz-form-item>
                <nz-form-control nzErrorTip="Digite o login, por favor.">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input formControlName="login" placeholder="Login" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Digite a sua senha, por favor.">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="password" placeholder="Senha" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <label nz-checkbox formControlName="remember">
                        <span>Lembrar minha senha?</span>
                    </label>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <button *ngIf="!isLoading" nz-button class="login-form-button" [disabled]="!formLogin.valid" [nzType]="'primary'">Entrar</button>
                    <button *ngIf="isLoading" nz-button class="login-form-button" [disabled]="true" [nzType]="'primary'">
                        <ng-template #indicatorTemplate><i nz-icon nzType="loading" style="font-size: 24px;"></i> </ng-template>
                        <nz-spin nzSimple [nzIndicator]="indicatorTemplate"> </nz-spin>
                    </button>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <div class="login-form-forgot">
                        <span>Esqueceu sua senha?</span>
                    </div>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-card>
</div>